.container-narrow {
    margin: 0 auto;
    max-width: 1024px;
}

.row li {
    font-family:Century Gothic;
}

.topper {
    background-color: #e4e2e2;
    height:81px;
    border-bottom: solid 1px #c0bdbd;
}

.topper .container {
    width: 1024px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width:1024px
}

.nav {
    margin-top:20px;
}

a:hover, a:focus {
    color:#555;
}

.nav-pills > li > a {
    color: #555
}

.main_footer {
    background-color:#6a6565;
}

.main_footer .container {
    height:88px;
}


.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    border: solid 1px #d6d3d3;
    color:#f78a00;
    background-color:#dad7d7;
    background-image: linear-gradient(to bottom, #d6d3d3, #e5e3e3);
    background-repeat: repeat-x;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #e4e2e2;
    color: #1c53ba;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: 0 auto;
}

.carousel-control {
    background:none repeat scroll 0 0 rgba(255, 255, 255, 0.0);
    border:none;
    color:#949494;
    margin: 0 20px;
    font-size: 120px;
}

.carousel-control:hover, .carousel-control:focus {
    color:#949494
}

.carousel-caption {
    background:none repeat scroll 0 0 rgba(255, 255, 255, 0.0);
    max-width: 420px; 
    margin:0 auto;
    left:650px;
    top:90px;
}

.carusel-title {
    color:#3a3a3c !important;
    text-shadow: 1px 1px #ccc;
    font-weight:bold;
    font-size: 23pt;
}

.carusel-body-text {
    text-shadow: 1px 1px #ccc;
    font-size: 23pt;
    font-weight:bold;
}

.carusel-more-text {
    text-shadow: 1px 1px #ccc;
    font-size:11pt;
    font-weight:bold;
    line-height:25px !important;

}

.carousel-caption p {
    line-height:40px
}

.carousel-caption a {
    font-family: 'Century Gothic';
    text-shadow: 1px 1px #fff;
}

.masthead {
    margin:0 10px;
}
p {
    font-family: 'Century Gothic';
}

.learn {
    background:url(../img/learn.png)no-repeat left center;
    margin-left:10px;
    width:97px;
    text-align: right;
    font-family:Tahoma;
    font-weight: bold;
}

.learn a {
    color:#ef7c00
}

.table th, .table td {
    border:none;
    padding: 8px 15px;
}

.column1 {
    background:#f8f8f8 url(../img/world.png) no-repeat top center;
    height: 180px;
    width: 33%;
}

.column2 {
    background:#f5f1f1 url(../img/mobile.png) no-repeat top center;
    width: 33%;
}

.column3 {
    background:#e7ebf3 url(../img/cloud.png) no-repeat top center;
    width: 33%;
}

.string1, .string4 {
    background-color:#f8f8f8;
}

.string2, .string5 {
    background-color:#f5f1f1;
}

.string3, .string6 {
    background-color:#e7ebf3;
}

.string7 {
    background-color:#e7ebf3;
}

.table .string1 p, .table .string2 p, .table .string3 p {
    color: #1c53ba;
    font-weight:bold;
    text-align:center
}

.span6 h3 {
    color: #1c53ba;
}

.span6 h4{
    line-height:38px;
    text-align: right;

}

.span6 h4 a {
    color: #fc7e00;
}

.carousel {
    margin-bottom: 0px
}

.testemonials_top {
    background:#e7ebf3 url(../img/quote.png) no-repeat left top;
    border-radius:6px 6px 0px 0px;
    padding: 15px 10px 5px 85px;
    margin-top:10px;
    color:#276d9a;
}

.testemonials_middle {
    background-color: #e7ebf3;
    padding: 10px 15px;
    color:#276d9a;
}

.testemonials_bottom {
    background: #e7ebf3 url(../img/sc_logo.png) no-repeat left top;
    border-radius:0px 0px 6px 0px;
    padding:0px 15px 10px 270px;
    color:#276d9a;
}

.testemonials_last {
    background: url(../img/testemonials.png) no-repeat top left;
    height:20px
}

.span6 hr {
    margin:0
}

.main_footer .logo_footer {
    background: url(../img/logo_footer.png) no-repeat top center;
    color: #fff;
    padding-top:40px;
    text-align:center
}

.main_footer p {
    margin: 0 0 5px;
}

.main_footer {
    color: #fcb800;
}

.contact {
    font-size:19pt;
    padding: 14px 0 0 30px;
    text-shadow: 1px 1px #7c7878;
}

.howto {
    background-color:#7c7878;
    border-radius:8px;
    margin:8px 0 0 10px;
    font-size:14pt;
    text-align:center;
    padding:4px;
    width:175px;
}

.howto a {
    color: #fff
}

.footer {
    background-color:#e4e2e2;
    color: #6A6565;
}
.footer .span2 {
    width:180px
}
.footer .learn {
    padding-left: 20px;
    text-align: left;
    color:#6a6565;
    width: auto;
    margin: 10px 5px;
}

.footer {
    list-style-image:url(../img/li.png)
}

.footer a {
    color:#6a6565;
}

.footer a:hover {
    color:#ef7c00;
}

.tech {
    background: url(../img/tech_bg.png) repeat-x;
    height:152px;
}

.tech .container {
    background: url(../img/tech.png) no-repeat center;
    height:150px;
}

.title {
    color: #1C53BA;
}

.ViTitle {
    background: url(../img/Vi.png) no-repeat left center;
    color: #ef7c00;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 10px 0 5px 30px;
    font-size:14pt;
    height:15px;
}

.firm {
    color:#000;
    font-weight: bold;
    padding-left:30px;
}

.contacts_row {
    padding-left: 30px;
}

.contacts_row a {
    color:#000
}

.sub_container {
    background: url(../img/sitemap.png) no-repeat left top;
    padding-left:150px;
    margin-left:15px;
}

.map {
    background: url(../img/map.jpg) no-repeat;
    height: 320px;
    margin: 20px 0;
}

.input_area {
    background-color: #e7ebf3;
    border: solid 1px #dde1e8;
    border-radius: 5px;
    padding:15px;
}

input, textarea, .uneditable-input {
   width:620px
}

label {
    width:175px;
    position:relative;
    float:left;
    color:#616060;
    font-weight:bold;
    margin-top:5px;
}

.input-group span {
    color:#f08919
}

.input-group .btn {
    margin-bottom: 10px;
    color: #999;
    width:auto;
    text-align:left;
}

.caret {
    border-top: 4px solid #999999;
}

.dropdown-submenu:focus a{
    background-color:#e4e2e2;
}

.team {
    background:url(../img/team.jpg) no-repeat center;
    height: 280px;
}

.office {
    background: url(../img/office.jpg) no-repeat center;
    height:255px;
}

.sub_container .span6 {
    width: 414px;
}

.sub_container .span4 {
    width:255px;
    margin-bottom:10px;
    margin-top:10px;
}

.sub_container .span4 a {
    color: #1c53ba;
}

.sub_container .span4 a:hover {
    color:#555
}

.sub_container {
    list-style-image:url(../img/li.png)
}

.how_title {
    text-transform: uppercase;
    color:#1C53BA;
    margin: 15px 0 15px 15px;
}

.transparency {
    background:url(../img/transparency.png) no-repeat center;
    height: 130px;
}

.sub_container .block .span7 {
    width:600px;
}

.block .span2 {
    width: 200px;
}

.block {
    background-image: linear-gradient(to bottom, #fbfbfb, #E1DFDF);
    padding: 10px;
    margin: 10px 0;
}

.quality {
    background:url(../img/quality.png) no-repeat center;
    height:170px;
}

.collaboration {
    background:url(../img/collaboration.png) no-repeat center;
    height:150px;
}

.iteration {
    background:url(../img/iteration.png) no-repeat center;
    height:170px;
}

.block {
    text-align:justify
}

.sub_container .span7 {
    width: 650px;
}

.web {
    background: url(../img/world.png) no-repeat bottom center;
    height:160px;
}

.mobile {
    background: url(../img/mobile.png) no-repeat center;
    height:160px;
}

.cloud {
    background: url(../img/cloud.png) no-repeat bottom center;
    height:132px;
}

.title_bg {
    background-color:#F9F9F9;
    height:40px;
}

.title_bg .ViTitle {
    margin-left: 5px;
    padding: 10px 0 10px 30px;
}

.sub_container .span7 p {
    margin: 10px 0;
}

.sub_container .span3 {
    width: 190px;
}

.photo1 {
    background: url(../img/photo1.jpg) no-repeat center;
    height:200px;
}

.photo2 {
    background: url(../img/photo2.jpg) no-repeat center;
    height:200px;
}

.photo3 {
    background: url(../img/photo3.jpg) no-repeat center;
    height:200px;
}

.photo4 {
    background: url(../img/photo4.jpg) no-repeat center;
    height:200px;
}

.photo5 {
    background: url(../img/photo5.jpg) no-repeat center;
    height:200px;
}

.photo6 {
    background: url(../img/photo6.jpg) no-repeat center;
    height:200px;
}

.photo7 {
    background: url(../img/photo7.jpg) no-repeat center;
    height:200px;
}

.photo8 {
    background: url(../img/photo8.jpg) no-repeat center;
    height:200px;
}

.photo9 {
    background: url(../img/photo9.jpg) no-repeat center;
    height:200px;
}

.photo10 {
    background: url(../img/photo10.jpg) no-repeat center;
    height:200px;
}

.photo11 {
    background: url(../img/photo11.jpg) no-repeat center;
    height:200px;
}

.photo12 {
    background: url(../img/photo12.jpg) no-repeat center;
    height:200px;
}

.photo13 {
    background: url(../img/photo13.jpg) no-repeat center;
    height:200px;
}

.photo14 {
    background: url(../img/photo14.jpg) no-repeat center;
    height:200px;
}

.photo15 {
    background: url(../img/photo15.jpg) no-repeat center;
    height:200px;
}

.photo16 {
    background: url(../img/lars.jpg) no-repeat center;
    height:200px;
}